@font-face {
  font-family: 'GT Pressura Mono Regular';
  font-display: swap;
  src: url('../fonts/GT-Pressura-Mono-Regular.woff2') format('woff2'),
    url('../fonts/GT-Pressura-Mono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GT Pressura Mono Bold';
  font-display: swap;
  src: url('../fonts/GT-Pressura-Mono-Bold.woff2') format('woff2'),
    url('../fonts/GT-Pressura-Mono-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Untitled Sans';
  font-display: fallback;
  src: url(../fonts/UntitledSansWeb-Regular.woff) format('woff'),
    url(../fonts/UntitledSansWeb-Regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Untitled Sans';
  font-display: fallback;
  src: url(../fonts/UntitledSansWeb-Medium.woff) format('woff'),
    url(../fonts/UntitledSansWeb-Medium.woff2) format('woff2');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Untitled Sans';
  font-display: fallback;
  src: url(../fonts/UntitledSansWeb-MediumItalic.woff) format('woff'),
    url(../fonts/UntitledSansWeb-MediumItalic.woff2) format('woff2');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Untitled Sans';
  font-display: fallback;
  src: url(../fonts/UntitledSansWeb-RegularItalic.woff) format('woff'),
    url(../fonts/UntitledSansWeb-RegularItalic.woff2) format('woff2');
  font-weight: normal;
  font-style: italic;
}
