body {
  margin: 0;
}

@font-face {
  font-family: 'GT Pressura Mono Regular';
  src: url('../fonts/GT-Pressura-Mono-Regular.woff2') format('woff2'),
    url('../fonts/GT-Pressura-Mono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GT Pressura Mono Bold';
  src: url('../fonts/GT-Pressura-Mono-Bold.woff2') format('woff2'),
    url('../fonts/GT-Pressura-Mono-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
