#top,
#bottom,
#left,
#right {
  background: red;
  position: fixed;
  z-index: 101;
}
#left,
#right {
  top: 0;
  bottom: 0;
  width: 3px;
}
#left {
  left: 0;
}
#right {
  right: 0;
}

#top,
#bottom {
  left: 0;
  right: 0;
  height: 3px;
}
#top {
  top: 0;
}
#bottom {
  bottom: 0;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow: hidden;
}
